h1, p {
  font-family: Lato;
}

h1, h3 {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
}
li{
  list-style-type: none;
  text-transform: capitalize;
  padding: 0.5em;
}

li > label{
  color: white;
}

.strike{
  text-decoration: line-through;
}